$confirm-green-darkest: #2e761a;
$confirm-green-darker: #399320;
$confirm-green-dark: #40a624;
$confirm-green-default: #57bd35;
$confirm-green-light: #70cf5b;
$confirm-green-lighter: #90e07f;
$confirm-green-lightest: #b1eea5;
$warning-red-darkest: #881606;
$warning-red-darker: #aa1b08;
$warning-red-dark: #c21f09;
$warning-red-default: #d92215;
$warning-red-light: #ee4b36;
$warning-red-lighter: #f67964;
$warning-red-lightest: #ffa792;
$emphasis-blue-darkest: #025295;
$emphasis-blue-darker: #0568ba;
$emphasis-blue-dark: #0675d3;
$emphasis-blue-default: #0996f8;
$emphasis-blue-light: #2ea3ff;
$emphasis-blue-lighter: #95cdff;
$teal-darkest: #00736f;
$teal-darker: #01908b;
$teal-dark: #01a39d;
$teal-default: #01bdad;
$teal-light: #27d9d2;
$teal-lighter: #58e7e6;
$teal-lightest: #89f4f5;
$orange-darkest: #c84510;
$orange-darker: #e35b0f;
$orange-dark: #f77100;
$orange-default: #ff9216;
$orange-light: #ffad2e;
$orange-lighter: #ffc446;
$orange-lightest: #ffdf81;
$magenta-darkest: #911a2e;
$magenta-darker: #b7223b;
$magenta-dark: #cf2743;
$magenta-default: #ea385e;
$magenta-light: #fa526e;
$magenta-lighter: #ff7a8d;
$magenta-lightest: #ffa7b3;
$greys-darkest: #6a6a6a;
$greys-darker: #858585;
$greys-dark: #b1b1b1;
$greys-default: #d4d4d4;
$greys-light: #ebebeb;
$greys-lighter: #fcfcfc;
$greys-lightest: #fff;
$black: #000;
$yellow-default: #ffcb00;
$developer-blue-default: #02538b;
$nightly-blue-default: #1f386e;